body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.body{
  display: flex;
  justify-content: center;
}
.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group > *:not(btn, a){
  padding: 5%;
}
.postdiv{
  border: 1px solid black;
  margin-top: 3%;
}
