<body ng-controller="MainController">
    <header class="col-lg-12">
      <h1>Angular OMDb API Search</h1>
      <div class="searchform">
        <form name='newPostForm' class="col-lg-12">
          <div class="form-group">
            <h5>Please enter a movie you would like to search...</h5>
              <input class="form-control" type="text" name="search" ng-model="title" placeholder="Search">
            <a href="/#/movies/show"><button class="btn" type="submit" ng-click='searchMovies()'>search it!</button></a>
          </div>
        </form>
      </div>
    </header>
